<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body style="background-color:lightgreen;">
  <h1 style="text-align:left  ;color: rgb(230, 67, 121);">welecom to my site<br>
      alitel abut me..
  </h1>
  </body>
</html>
