<html>

<body>
    <form action="/login/loginReq" method="POST">
        <h1>login Page</h1><br>
        user name: <input type="text" name="username"><br>
        password: <input type="text" name="pwd"><br>
        <input type="submit" value="login" name="user"> <br>


    </form>
    <script>
       
    </script>
    <% if(msg!='' ){ %>
        <%= msg %>
            <% } %>
</body>

</html>