<html><body>
id: <%= data.id %> <br>
name: <%= data.name %>  <br>
language: <%= data.language %> <br>
 
 <img src=" <%= data.image.medium %>" alt="">  
 <!-- <a href="/searchMovie/results" >Back</a> -->
 <!-- <a href="#" onclick="window.history.back()">Back</a> -->
</body></html>