<html>

<body>
    <ul>
        <% usersData.forEach(x=>{ %>
            <li>
                <a href="users/userdata/<%= x.id %>">  <%= x.name %> </a>
            </li>
            <% }) %>

    </ul>
</body>

</html>