<html>

<body>
    <ul>
        <% for(let key in userData) { %>
                <li>
                     <%= `${key}: ${userData[key]}` %>
                </li>
                <% } %>
    </ul>
</body>

</html>